#wrap {
    background:lime;
    width:393px; height:430px;
    margin:0 auto;
}
/* 회원가입 */
#wrap .login_musescore {
    text-align:center;
}
#wrap .login_musescore h1 {
    font-size:1.875rem;
    font-weight:700;
    padding-top:24px;
}
#wrap .login_musescore .sign_up {
    padding-top:11px;
}
#wrap .login_musescore .sign_up span {
}
#wrap .login_musescore .sign_up a {
    color:#6B5DFE;
}
/* 연동 로그인 */
/* 버튼 3개 묶음 */
#wrap .sns_login {
    margin-top:11px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    gap:8px;
}
#wrap .sns_login li:first-child {
    width:208px; height:42px;
    background-color:#6B5DFE;
    border-radius:50px;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    padding:10px;
}  
#wrap .sns_login .google_login {}
#wrap .sns_login .google_login a {
}
#wrap .sns_login .google_login a img {
    width:30px; height:30px;
    border-radius:50px;
    background:#fff;
    margin-right:14px;
}
#wrap .sns_login .google_login a span {
}
#wrap .sns_login .facebook_login {
    width:48px; height:42px;
    background:#fff;
    border-radius:50px;
    padding:10px 0 0 12px; 
}
#wrap .sns_login .facebook_login a {
}
#wrap .sns_login .facebook_login a img {}
#wrap .sns_login .apple_login {
    width:48px; height:42px;
    background:#fff;
    border-radius:50px;
    padding:10px 0 0 12px;  
}
#wrap .sns_login .apple_login a {
}
#wrap .sns_login .apple_login a img {}
#wrap .sns_login li {
    background:#fff;
}
/* 구분선 */
#wrap span {}
/* 아이디 비번 입력창 */
#wrap .musescore_login_input {}
#wrap .musescore_login_input .email_input {}
#wrap .musescore_login_input .email_input h2 {}
#wrap .musescore_login_input .email_input .input_id {}
#wrap .musescore_login_input .pw_input_{}
#wrap .musescore_login_input .pw_input .pw{}
#wrap .musescore_login_input .pw_input a {}
#wrap .musescore_login_input .pw_input .input_pw {}
/* 로그인 버튼 */
#wrap .log_in_btn